
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;

}

body {
  width: 100%;
  height: 100%;
  color:white;
  text-align: center;

}

section {
  padding: 6rem 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -10;

}



#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}



.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
  font-size: 2rem;
}


.skillicons {
  margin-top: 1rem;
  font-size: 2.7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skillicons-left {
  margin-top: 1rem;
  font-size: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}

.skillicon-box {
  margin: 1rem;
  padding: 1rem;
}

.prujects__title {
  margin-bottom: 6.6rem;
}

.languages h2{
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: rgb(15, 76, 117);
  font-weight: 700;
  position: relative;

}

section p {
  font-size: 1.8rem;
  
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.resume {
  text-align: center;
  color: #ffffff;
}
.mailButton, .resumeButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.social {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.resumeButton, .mailButton {
  text-decoration: none;
  font-weight: 600;
  transition: .4s;
}

.resumeButton:hover, .mailButton:hover {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
  transition: .4s;
  text-decoration: none;
}
.resume { z-index: 1; }
.social { z-index: 1; }
.social {
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
}
.social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
}
.social li a {
  font-size: 22px;
  color: #f7f7f7;
  padding: 8px 8px;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  font-weight: bold;
}
.social li a {
    padding: 10px 8px;
    visibility: visible;
  }
.social li a:hover, .social li a:active, .social li a:focus {
  outline: none;
  text-decoration: none;
}


.copyrightSection {
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}
.sed {
  color: #fff;
}

.main-content{
  text-align: center;
  margin-left:20%;
  margin-right:20%;
  font-size: 20px;
  margin-top: 60px;
}

.ghey{
  margin-top: 60px;
}
.section-heading h6 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.section-heading h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  color: rgb(15, 76, 117);
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}



#projects {
  margin-left: 7rem;
  font-weight: 200;
  scroll-margin: 6rem;
}

.project {
  padding: 1.8rem 2.5rem 1.8rem;
  border-style: solid;
  border-color: #09fbd3;
  border-width: 2px;
  color: #fafafa;
  overflow:hidden;
}




.project.avail:hover {
  background-color: #2a2a2a;
}

.proj-wrapper {
  padding-top: 2rem;
  margin: 0 auto;
  /* margin-top: 6rem;
  margin-left: 20rem; */
  width: 65%;
}

.port .proj-wrapper {
  margin-left: -2rem;
  width: 100%;
}

.land .proj-wrapper {
  margin-left: 2rem;
  width: 80%;
}

.proj-wrapper a:hover {
  text-decoration: none;
}

.prujects h2{
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: rgb(15, 76, 117);
}

.keke{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
